body {
    margin: 0;
}

nav {
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px gray;
    padding: 20px;
}

a {
    text-decoration: none;
    color: darkblue;
    margin-right: 40px;
}

a:hover {
    color: black;
}

.current {
    color: black;
    font-weight: bolder;
}